.description{
    margin-bottom: 1px;
}
.description__header{
    width: 355px;
        background-color: gray;
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        text-align: center;
        font-weight: bold;
}

.description__body{
    border: 1px solid black;
    height: 140px;
    width: 351px;
}