

@media only screen and (min-width: 640px){
    .details__headers{
        display: flex;
        flex-direction: row;
        margin-left: -15px;
    }

    .details__header{
        width: 100px;
        background-color: gray;
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }
        .details__qty{
            width: 45px;
        }
        .details__material{
            width: 236px
        }
        .details__price{
            width: 58px;
        }
        .details__amount{
            width: 66px;
        }
        .details__amount{
            border-right: 1px solid black;
        }
        .details__bottom{
            display: flex;
            flex-direction: row;
            margin-left: -15px;;
        }
        .details__totalMaterialsLabel{
            border: 1px solid black;
            width: 162px;
            text-align: center;
        }

        .details__dateCompleted{
            width: 160px;
            border-right: 0px solid black;
        }
        .details__totalMaterialsBox{
            width: 74px;
            border-left: 0px solid black;
        }

}
@media only screen and (max-width: 620px){

}
@media only screen and (max-width: 400px){

}
