.detailsMobile__details{
    margin-left: 520px;
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    
}

.detailsMobile__details div{
    /* margin-left: 20px; */
        margin-top: 50px;
        background: white;
        border: 2px solid black;
        margin-bottom: -30px;
        padding: 2px;
        font-size: 14px;
        margin-right: 10px;
        width: 400px;
        height: 60px;
}

.detailsMobile_tax{
    width: 100px;
}

.detailsMobile__details{

}

.detailsMobile__materials{
    /* display: none; */
    height: 300px;
}

.detailsMobile__labor{
    /* display: none; */
}

.detailsMobile__other{
    /* display: none; */
}

.detailsVisible{
    display: block;
}

.detailsHide{
    display: none;
}