.footer__laborLabel{
    text-align: right;
    width: 335px;
}
.footer__materialsLabel{
    text-align: right;
    width: 400px;
}
.footer__otherLabel{
    text-align: right;
    width: 400px;
}
.footer__blank{
    width: 400px;
}
.footer__taxLabel{
    width: 200px;
    text-align: right;
}
.footer__totalLabel{
    width: 200px;
    text-align: right;
}
.footer__bottom{
    display: flex;
    flex-direction: row;
}