.footer{
    /* margin-top: -20px; */
}
.footer__laborLabel{
    text-align: right;
    width: 200px;
}
.footer__materialsLabel{
    text-align: right;
    width: 279px;
}
.footer__otherLabel{
    text-align: right;
    width: 279px;
}
.footer__blank{
    width: 171px;
}
.footer__taxLabel{
    width: 102px;
    text-align: right;
}
.footer__tax{
    width: 61px;
}
.footer__totalLabel{
    width: 102px;
    text-align: right;
}
.footer__bottom{
    display: flex;
    flex-direction: row;
}

.footer__materialsTotal{
    width: 61px;
}

.footer__otherTotal{
    width: 61px;
}


.footer__total{
    width: 61px;
}

.footer__thankyou{
    font-family: "Brush Script MT", cursive;
    font-size: 25px;
    text-align: center;
    /* margin-left: 15px; */
}
