
input{
    border: 1px solid black;
}

@media only screen and (min-width: 640px){
    .header{
        margin-top: -25px;
        display: flex;
        flex-direction: row;
    
    }
    
    .header__title{
        margin-left: -5px;
    }
    
    .header__title > h1 {
        margin-bottom: 10px;
    }
    
    .header__title > h4 {
        margin-top: -15px;
        margin-bottom: 10px;
    }
    
    .header__title > p{
        margin-top: -10px;
        font-size: 12px;
    }
    
    .header__invoice{
        /* position: absolute;
        right: 60px; */
        margin-left: 80px;
    }
    
    .header__invoiceNumber{
        margin-top: -25px;
        margin-left: 35%;
    }
    
    .header__invoicePhoneBox{
        height: 10px;
        width: 150px;
    }
    
    .header__invoiceOrderDateBox{
        /* width: 150px; */
        width: 170px;
        border-left: none;
        /* margin-left: */
    }

    .header__orderNumber{
        /* width: 260px; */
        border-left: none;
    }

    .header__invoiceOrderTakenBy{
        width: 150px;
    }

    .header__invoiceCustomerNumber{
        width: 150px;
    }
    .header__invoiceJobName{
        /* width: 98%; */
        width: 345px;
    }
    .header__orderNumber{
        /* height: 10px; */
        width: 165px;
    }

    .header__address{
        width: 345px;
    }

    .header__cityState{
        width: 345px;
    }

    .header__startDate{
        width: 171px;
        border-left: none;
    }
    .header__mobile{
        display: none;
    }

    .header__mobile__invoice{
        margin-left: 100px;
    }
}
/* @media only screen and (max-width: 620px){
    .header{
        margin-top: -25px;
        display: flex;
        flex-direction: row;
        margin-left: 400px;
    
    }
    
    .header__title{

        display: none;
    }
    .header__invoice{
        display: none;
    }
    .header__mobile{
        display: block;
    }

    .header__mobile__invoice{
        margin-left: 100px;
    }

    .header__invoiceNumber{
        margin-left: 35%;
    }

    .header__docname{
        
        margin-left: 35%;
    }

    .header__mobile input[type="text"]{
        width: 270px;
        margin-left: 20px;
        margin-right: 20px;
        height: 25px;
        margin-bottom: 2px;
    }
    .header__mobile__details div{
        margin-left: 20px;
        margin-top: 50px;
        background: white;
        border: 2px solid black;
        margin-bottom: -30px;
        padding: 5px;
        font-size: 14px;
        margin-right: 10px;
    }
} */
/* @media only screen and (max-width: 400px){
    .header{
        margin-top: -25px;
        display: flex;
        flex-direction: row;
        margin-left: 400px;
    
    }
    
    .header__title{
        
        display: none;
    }
    .header__invoice{
        display: none;
    }
    .header__mobile{
        display: block;
    }

    .header__mobile__invoice{
        margin-left: 100px;
    }

    .header__invoiceNumber{
        margin-left: 35%;
    }

    .header__docname{
        
        margin-left: 35%;
    }

    .header__mobile input[type="text"]{
        width: 270px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .header__mobile__details{
        margin-left: 20px;
        margin-top: 50px;
    }

    

} */

.header{
    margin-top: -50px;
    display: flex;
    flex-direction: row;

}

.header__title{
    margin-left: -5px;
}

.header__title > h1 {
    margin-bottom: 10px;
}

.header__title > h4 {
    margin-top: -15px;
    margin-bottom: 10px;
}

.header__title > p{
    margin-top: -10px;
    font-size: 12px;
}

.header__invoice{
    /* position: absolute;
    right: 60px; */
    margin-left: 80px;
    margin-top: 20px;
}

.header__invoiceNumber{
    margin-top: -25px;
    margin-left: 35%;
}

.header__invoicePhoneBox{
    height: 10px;
    width: 150px;
}

.header__invoiceOrderDateBox{
    /* width: 150px; */
    width: 170px;
    border-left: none;
    /* margin-left: */
}

.header__orderNumber{
    /* width: 260px; */
    /* border-left: none; */
    width: 345px;
}

.header__orderTakenByBox{
    width: 344px;
}

.header__invoiceCustomerNumber{
    width: 150px;
}
.header__invoiceJobName{
    /* width: 98%; */
    width: 345px;
}
.header__orderNumber{
    /* height: 10px; */
    width: 165px;
    border-left: 1px solid black;
}

.header__address{
    width: 345px;
}

.header__cityState{
    width: 345px;
}

.header__startDate{
    width: 171px;
    margin-top: 0px;
    /* border-left: none; */
}
.header__completeDate{
    width: 169px;
    /* border-left: none; */
}
.header__mobile{
    display: none;
}

.header__mobile__invoice{
    margin-left: 100px;
}

.header__rci{
    font-size: 60px;
    font-style: italic;
    font-family: Impact, Haettenschweiler, “Franklin Gothic Bold”, Charcoal, “Helvetica Inserat”, “Bitstream Vera Sans Bold”, “Arial Black”, sans serif;
    /* width: 300px; */
}

.header__rciSub{
    font-weight: bold;
    font-size: 15px;
}

.header__invoiceTop{
    font-size: 40px;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}