

@media only screen and (min-width: 640px){
    .jobitem{
        margin-left: -15px;

    }
    .jobitem__qty{
        width: 41px;
        text-align: right;
        border-right: 0px solid black;
    }
    .jobitem__material{
        width: 233px;

    }
    .jobitem__price{
        width: 55px;
        border-left: 0px solid black;
        
    }
    .jobitem__amount{
        width: 62px;
        border-left: 0px solid black;
    }
}
/* @media only screen and (max-width: 620px){
    
}
@media only screen and (max-width: 400px){
    .jobitem{
        margin-left: -15px;
        margin-bottom: 5px;

    }
    .jobitem__qty{
        width: 21px;
        text-align: right;
        border-right: 0px solid black;
        height: 20px;
    }
    .jobitem__material{
        width: 133px;
        height: 20px;

    }
    .jobitem__price{
        width: 45px;
        border-left: 0px solid black;
        height: 20px;
    }
    .jobitem__amount{
        width: 42px;
        border-left: 0px solid black;
        height: 20px;

    }
} */

.jobitem{
    margin-left: -15px;

}
.jobitem__qty{
    width: 41px;
    text-align: right;
    border-right: 0px solid black;
}
.jobitem__material{
    width: 233px;

}
.jobitem__price{
    width: 55px;
    border-left: 0px solid black;
    
}
.jobitem__amount{
    width: 62px;
    border-left: 0px solid black;
}

