.laborcharge__name{
    width: 180px;
}

.laborcharge__hours{
    width: 42px;
    font-size: 11px;
    height: 15px;
}

.laborcharge__rate{
    width: 42px;
    font-size: 11px;
    height: 15px;
}

.laborcharge__amount{
    width: 60px;
    font-size: 11px;
    height: 15px;
}