.labor{
    margin-top: 2px;
}
.labor__headers{
    display: flex;
    flex-direction: row;
}

.labor__header{
    /* width: 600px; */
        background-color: gray;
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        text-align: center;
        font-weight: bold;
}

.labor__name{
    width: 186px;
}

.labor__hrs{
    width: 50px;
}

.labor__rate{
    width: 47px;
}

.labor__amount{
    width: 70px;
    font-size: 15px;
}
.labor__totalLabel{
    width: 279px;
    text-align: right;
}

.labor__total{
    width: 61px
}