.main{
    margin-left: -515px;
}


@media only screen and (min-width: 640px){
    .App{
        display: block;
    }
    .main__mobileContain{
        display: none;
    }
    .main__topButtons{
        display: flex;
        flex-direction: row;
        margin-left: 526px;
        /* display: ; */
    }
    .main__topButtons_inner{
        display: flex;
        flex-direction: row;
        margin-left: 84%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

}
@media only screen and (max-width: 620px){
    

    
    
}
@media only screen and (max-width: 400px){
    .App{
        /* display: none; */
    }
    .main__mobileContain{
        /* display: block;

        width: 820px; */

    }
    
    
}


.App{
    display: block;
}
.main__mobileContain{
    display: none;
}
.main__topButtons{
    display: flex;
    flex-direction: row;
    margin-left: 526px;
    /* display: ; */
}
.main__topButtons_inner{
    display: flex;
    flex-direction: row;
    margin-left: 84%;
    margin-top: 5px;
    margin-bottom: 5px;
}