.othercharge{
    margin-bottom: -2px;
}
.othercharge__description{
    width: 285px;
    /* height: 40px; */
}

.othercharge__price{
    position: absolute;
    width: 60px;
    height: 30px;
    /* margin-top: px; */
}