.othercharges__header{
    width: 600px;
        background-color: gray;
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        text-align: center;
        font-weight: bold;
}

.othercharges__totalLabel{
    text-align: right;
    width: 400px;
}
