.app{
  /* border: 1px solid black; */
  width: 800px;
  /* margin-left: 15%;; */
}

.app__mainBody{
  display: flex;
  flex-direction: row;
  /* width: 2000px; */
}

.App{
  border: 1px solid black;
  margin-left: 40%;
  width: 787px;
  padding-left: 10px;
  padding-right: 10px;
}

.App__backbn{
  margin-top: -50px;
  margin-left: 150px;
  position: absolute;
}